data_old
Graphs
pdbAB
flexref
PDB_Epi
pdbAG
PDB_AF2
PDB_HADDOCK
PDBs
PigAB
PigPDBEpi
redock_list
redock_list2
restraints
results_full
results
tmp
ZDOCK_rank1
test.pml
tmp.pml
test.cfg
tmp.list
ranair.tbl
Pos_GTAGCAGAGAGGCTGA-1_contig_1_1_Epi.pdb PigHadDock.csv
